<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>About Linker3</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hide()">
                    <md-icon class="material-icons step">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p>This is a diploma project of <a class="link" href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">Viktor Maksimenko</a>, ONPU student. </p>
                    <p> This web app displays relations between themes learned at university and themes required by IT-companies. Setup interested universities and companies for building graph.</p>
                <ul class="list-unstyled">
                    <li><i class="material-icons" style="font-size: 100%;color: #DD4C40;">lens</i> Red rectangles display chosen positions</li>
                    <li><i class="material-icons" style="font-size: 100%;color: #139F5A;">lens</i> Green rectangles display chosen university specialities</li>
                    <li><i class="material-icons" style="font-size: 100%;color: #FFCE42;">lens</i> Yellow rectangles display themes. Node size depends on number of using</li>
                </ul>
                    <p> The graph is scalable and draggable. Click node to get info about it. Use export function to save graph as SVG, JPG, PNG, GIF or TIFF.</p>
                    <p> Sign up to have an ability to save your graph. If you are a representative of University ot IT-company, go on sign up and add you organisation to list</p>
                    <p> For graph drawing we use <a class="link" href="http://js.cytoscape.org/">Cytoscape.js</a> - Graph theory library for analysis and visualisation
                    <br> For more details view our project on <a class="link" href="https://github.com/vikmaksimenko/linker3">github</a></p>
                </p>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>