<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form name="exportForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Export Graph</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hide()">
                    <md-icon class="material-icons step">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container style="width: 100%;" required>
                    <label>Choose export format</label>
                    <md-select name="format" ng-model="selectedFormat" >
                        <md-option ng-repeat="format in formats" value="{{format}}">
                            {{format}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div class="errors" data-ng-show="exportForm.name.$error.required" >
                </div>
                <div ng-messages="exportForm.format.$error" role="alert">
                    <div ng-message="required">Select Format</div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="save();" data-ng-disabled ="!exportForm.$dirty || exportForm.$invalid" >
                Save
            </md-button>
            <md-button ng-click="hide();">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>