<div layout="column" style="height:100vh;" ng-cloak>

    <md-toolbar>
        <h1 class="md-toolbar-tools"><a href="/">Linker3</a></h1>
    </md-toolbar>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="sidebar" md-disable-backdrop="true" md-whiteframe="2" >
            <md-content data-ng-controller="SidebarCtrl" layout-padding layout="column" layout-fill layout-align="top center">
                <h1 class="md-toolbar-tools"><a href="/">Linker3</a></h1>
                <!--<div >-->
                <!---->
                <!--</div>-->
                <!--<md-chips ng-model="ctrl.selectedVegetables" md-autocomplete-snap="" md-transform-chip="ctrl.transformChip($chip)" md-require-match="ctrl.autocompleteDemoRequireMatch">-->
                    <!--<md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.name" placeholder="Search for a vegetable">-->
                        <!--<span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>-->
                    <!--</md-autocomplete>-->
                    <!--<md-chip-template>-->
                        <!--<span>-->
                          <!--<strong>{{$chip.name}}</strong>-->
                          <!--<em>({{$chip.type}})</em>-->
                        <!--</span>-->
                    <!--</md-chip-template>-->
                <!--</md-chips>-->
                <!--<p>-->
                    <!--This sidenav is locked open on your device. To go back to the default behavior,-->
                    <!--narrow your display.-->
                <!--</p>-->
                <p>test</p>
            </md-content>
        </md-sidenav>

        <md-content data-ng-controller="GraphCtrl">

        </md-content>
        <md-button class="md-fab"  id="sidebar-button" aria-label="Open Graph Settings" data-ng-click="openSidebar();">
            <md-icon class="material-icons step">settings</md-icon>
            <md-tooltip md-direction="right">
                Open Graph Settings
            </md-tooltip>
        </md-button>
    </section>
</div>